body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    .gourmand{
        color: #7F1734;
    }

    .vite { 
        color: white;
    }
}




.container {
    max-width: 1200px;
    margin: auto;
}

/* HEADER */

.header {
    background-color: #E8DFC5;
    border-bottom: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
}


.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    max-width: 100%;
    padding: 0;

}

.logo img {
    height: 70px;
}


.nav a.connexion {
    color: #7F1734;
    font-weight: bold;
}

.nav a.commande {
    font-weight: bold;
}


.nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav a {
    text-decoration: none;
    color: black;

}

.nav a:hover {
    color: #7F1734;
}

.burger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: black;
}






/* Hero-Section  */

.hero {
    background-image: url("images/herofigma.jpg");
    background-size: cover;
    background-position: center;
     background-repeat: no-repeat;
    height: 400px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Image accueil */
.hero-home {
    background-image: url("images/herofigma.jpg");
}

/* Texte centré */

.hero-content {
    text-align: center;
    color: white;
}

/* Titre */

.hero-content h2 {
    font-size: 40px;
}

/* .vite {
    color: white;
} */


/* Bouton */

.hero-content button {
    margin-top: 20px;
    padding: 10px 25px;
    background-color: #E8DFC5;
    border: none;
    cursor: pointer;
    color: #7F1734;
    border-radius: 20px;
    border: 3px solid black;
}

/* Main Presentation  */


.presentation {
    background-color: #E8DFC5;
    padding: 20px 40px; 
    max-height:250px;
 
}

.title { 
    color: #9ca234;
    text-align: center;
    margin: 0 0 30px 0;
}

.presentation .text {
    max-width: 600px;
     font-size: 20px;
}

.presentation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.presentation .image {
    display: flex;
    justify-content: flex-end;
}

.presentation img {
    height: 200px;
    border-radius: 30px;
}

.btn-center {
    text-align: center;
    margin-top: -40px; /* remonte le bouton */

}

.Nosmenus{
    background-color: #E8DFC5;
    color: #7F1734;
    border-radius: 20px;
    border: 3px solid black;
     padding: 10px 25px;

}


.Nosmenus a {
    text-decoration: none;
    cursor: pointer;
    color: #7F1734;
}

/* main la galerie  */

.Lagalerie {
    background-color:#7F1734;
    padding: 20px 40px; 
    max-height:250px;
 
}

.title { 
    color: #9ca234;
    text-align: center;
    margin: 0 0 30px 0;
}

.Lagalerie .text {
    color: white;
    max-width: 600px;
     font-size: 20px;
}

.Lagalerie-content {
    display: flex;
    justify-content: space-between;
     flex-direction: row-reverse;
    align-items: center;
    gap: 50px;
}

.Lagalerie .image {
    display: flex;
    justify-content: flex-end;
}

.Lagalerie img {
    height: 200px;
    border-radius: 30px;
}

.btn-center {
    text-align: center;
    margin-top: -40px; /* remonte le bouton */

}

.Voirlagalerie{
    background-color: #E8DFC5;
    color: #7F1734;
    border-radius: 20px;
    border: 3px solid black;
     padding: 10px 25px;

}


.Voirlagalerie a {
    text-decoration: none;
    cursor: pointer;
    color: #7F1734;
}

/* Avis clients */

.avis {
    background-color: #E8DFC5;
    padding: 60px 20px;
    text-align: center;
}

.avis h2 {
    margin-bottom: 40px;
    color: #9ca234;
}


.avis-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.avis-card {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    max-width: 250px;
}


.etoiles {
    color: #D4AF37;
    margin-bottom: 10px;
}


.avis-card span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.avis {
    position: relative;
}

.avis-signature {
    position: absolute;
    bottom: 10px;
    right: 20px;
    color: #7F1734;
    font-weight: bold;
}

.vite {
    color: black;
}

.gourmand {
    color: #7F1734;
}





@media (max-width: 768px) {

    .header .container {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    /* BURGER */
    .burger {
        display: block;
        font-size: 30px;
        cursor: pointer;
        color: black;
    }

    /* NAVIGATION */
    .nav {
        display: none;
        position: absolute;
        top: 80px;
        right: 0;
        width: 100%;
        background-color: #E8DFC5;
        z-index: 1000;
    }

    .nav.active {
        display: block;
    }

    .nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px 0;
        margin: 0;
    }

    /* HERO */
    .hero {
        height: 300px;
    }

    .hero-content h2 {
        font-size: 24px;
        text-align: center;
    }

    .presentation,
.Lagalerie {
    max-height: none ;
    height: auto ;
    padding-bottom: 40px;
}

/* PRESENTATION */
.presentation-content {
    display: flex ;
    flex-direction: row ;
    align-items: center ;
    justify-content: center ;
    text-align: center;
    gap: 10px ;
    padding : 10 px; 
}

/* GALERIE */

.Lagalerie-content {
    display: flex ;
    flex-direction: row-reverse;
    align-items: center ;
    justify-content: center ;
    text-align: center;
    gap: 20px ;
    padding : 10 px; 
}

/* TEXTE */
.presentation-content .text,
.Lagalerie-content .text {
    width: 50%;
    font-size: 14px;
}

/* IMAGE CONTAINER */
.presentation-content .image,
.Lagalerie-content .image {
    width: 50%;
    display: flex ;
    justify-content: center ;
}

/* IMAGES */
.presentation-content img,
.Lagalerie-content img {
    width: 100% ;
    max-width: 180px ;
    height: auto ;
}

/* BOUTONS */
.btn-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/* AVIS */
.avis-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; 
     
}

/* FOOTER */
.footer-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}

}


/* Page Menus  */

.Les-menus{
    background-color: #E8DFC5;
}

/* FILTRES */

.filtres {
    display: flex;
    justify-content: center;
    gap: 20px;

    padding: 40px 20px;

    background-color: #E8DFC5;
}

.filtres select {
    padding: 10px 20px;

    border: 2px solid #7F1734;
    border-radius: 20px;

    background-color: white;

    font-family: 'Montserrat', sans-serif;

    cursor: pointer;
}

.btn-filtre {
    padding: 10px 25px;

    background-color: #7F1734;
    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;

    font-family: 'Montserrat', sans-serif;

    
}

/* RESPONSIVE FILTRES */

@media (max-width: 768px) {

    .filtres {
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .filtres select,
    .btn-filtre {
        width: 50%;
    }

}


.menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: space-evenly;
    padding: 30px;
    text-align: center;
    gap: 40px;
}

.menu-card img {
    width: 50%;
    height: 180px;        
    object-fit: cover;    
    border-radius: 15px;
}

.bouton-detail { 
    background-color: #7F1734;
    color: white;
    border-radius: 10px;
    border: black 2px solid;
  
}

.bouton-detail a {
color: white;
text-decoration: none;

}

.menu-card ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

/* responsive menu page  */

@media (max-width: 768px) {

    .menu-grid {
        grid-template-columns: 1fr; 
        padding: 20px;
    }

    .menu-card {
        text-align: center;
    }

    .menu-card img {
        height: 150px;
    }

}

@media (max-width: 768px) {

    .menu-info {
        text-align: center;
    }

    .menu-info ul {
        text-align: center;
    }

}

/* contact page  */


.formulaire{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* MAIN  */

.Formulaire-contact{
    background-color: #E8DFC5;
    padding: 60px 20px;
}


.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

    max-width: 1200px;
    margin: auto;
}

/* Texte gauche */

.contact-info {
    flex: 1;
    text-align: center;
}

.contact-info img {
    width: 100px;
    margin-top: 20px;
}

/* Formulaire */

.contact-form {
    flex: 1;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    padding: 12px;
    border: 2px solid #7F1734;
    background-color: transparent;

    font-family: 'Montserrat', sans-serif;
}

.contact-form textarea {
    height: 150px;
   
}

/* Bouton */

.contact-form button {
    width: fit-content;

    padding: 10px 30px;

    background-color: #7F1734;
    color: white;

    border: none;
    border-radius: 20px;

    cursor: pointer;

     align-self: center; 
}

/* Responsive Contact page  */

/* MOBILE */
@media (max-width: 768px) {

    .contact-container {
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .contact-info {
        width: 100%;
    }

    .contact-form {
        width: 100%;
    }

    .contact-form input,
    .contact-form select,
    .contact-form textarea {
        width: 100%;
        box-sizing: border-box;
    }

    .contact-form button {
        width: 100%;
    }

}

/* 
Galerie page  */

.hero-galerie {
    color:black;
    font-weight: bolder;
    font-size: 20px;
}



.galerie {
    background-color: #E8DFC5;
    padding: 60px 20px;
    text-align: center;
}



.galerie-grid {
    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 40px;

    max-width: 1000px;
    margin: auto;
}



.galerie-grid img {
    width: 100%;
    height: 220px;

    object-fit: cover;

    border-radius: 15px;

    transition: 0.3s;
}



.galerie-grid img:hover {
    transform: scale(1.03);
}



.btn-galerie {
    display: inline-block;

    margin-top: 50px;

    padding: 10px 25px;

    background-color: #7F1734;
    color: white;

    border-radius: 20px;

    text-decoration: none;
}

/* responsive galerie */

@media (max-width: 768px) {

    .galerie-grid {
        grid-template-columns: repeat(2, 1fr);
       
    }

    .galerie-grid img {
         width: 130px;

    }

}

/* MENUS NOEL  */  /* MENUS PAQUES */  /* MENU MARIAGE  */ /* MENU CLASSIQUE  */


.menus-choice {
    display: flex;
    justify-content: center;
    gap: 40px;

    padding: 60px 20px;

    background-color: #E8DFC5;
}



.menu-card {
    background-color: white;

    padding: 20px;

    border-radius: 20px;

    width: 350px;

    text-align: center;
}


.menu-card img {
    width: 100%;
    height: 220px;

    object-fit: cover;

    border-radius: 15px;

    margin-bottom: 20px;
}



.menu-card h2 {
    color: #7F1734;
}

.menu-card h3 {
    margin-top: 20px;
}



.bouton-commande{
    background-color:#E8DFC5;
    color: #7F1734;
    border-radius: 20px;
    border: black 2px solid;
    text-decoration: none;
    font-weight: bolder;
    padding: 10px 25px;
     margin-top: 15px;
}


.bouton-commande a {
    color: #7F1734;
    text-decoration: none;
}



.bouton-commande a:hover {
    text-decoration: none;
}

/* RESPONSIVE */

@media (max-width: 768px) {

    .menus-choice {
        flex-direction: column;
        align-items: center;
    }

}

/* PAGE CONNEXION */

.page-connexion {
    background-color: #E8DFC5;

    padding: 80px 20px;

    display: flex;
    justify-content: center;
}

/* CARD */

.connexion-container {
    background-color: white;

    padding: 40px;

    border-radius: 20px;

    width: 400px;

    text-align: center;
}

/* FORM */

.connexion-formulaire {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* LIEN */

.connexion-container a {
    display: block;

    margin-top: 20px;

    color: #7F1734;

    text-decoration: none;
}

/* RESPONSIVE CONNEXION */

@media (max-width: 768px) {

    .connexion-container {
        width: 100%;

        padding: 30px 20px;
    }
}


/* PAGE INSCRIPTION */

.page-inscription {
    background-color: #E8DFC5;

    padding: 80px 20px;

    display: flex;
    justify-content: center;
}

/* CARD */

.inscription-container {
    background-color: white;

    padding: 40px;

    border-radius: 20px;

    width: 450px;

    text-align: center;
}

/* TITRE */

.inscription-container h2 {
    color: #7F1734;

    margin-bottom: 30px;
}

/* FORMULAIRE */

.inscription-formulaire {
    display: flex;
    flex-direction: column;

    gap: 20px;
}

/* INPUTS */

.inscription-formulaire input {
    padding: 12px;

    border: 2px solid #7F1734;

    border-radius: 10px;

    font-family: 'Montserrat', sans-serif;
}

/* BOUTON */

.inscription-formulaire button {
    background-color: #7F1734;
    color: white;

    padding: 12px;

    border: none;

    border-radius: 20px;

    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
}

/* RESPONSIVE INSCRIPTION */

@media (max-width: 768px) {

    .inscription-container {
        width: 100%;

        padding: 30px 20px;
    }
}

/* FOOTER */

.footer {
    background-color: #7F1734;
    color: white;
    padding: 50px 20px;
}


.footer-content {
    display: flex;
    justify-content: space-around;
    text-align: center;
    gap: 30px;
}



.horaires h4 {
    color: #9ca234;
}


.contact h4 {
    margin-bottom: 15px;
    color: #9ca234;
}


.contact p {
    margin: 5px 0;
}


.droit-reserver{
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}



/* Pages de commande  */

.carte-commande {

    background-color: white;

    width: 100%;

    max-width: 700px;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);

}

/* MENU CHOISI */

.menu-selectionne {

    background-color: #f5f0e6;

    padding: 20px;

    border-radius: 15px;

    margin-bottom: 30px;

    text-align: center;

}

.menu-selectionne h2 {

    color: #7b0f2f;

}

/* FORMULAIRE */

.ligne-formulaire {

    display: flex;

    gap: 20px;

    margin-bottom: 20px;

}

.ligne-formulaire input {

    flex: 1;

}


input,
textarea {

    width: 100%;

    padding: 15px;

    border-radius: 12px;

    border: 2px solid #7b0f2f;

    font-size: 16px;

    box-sizing: border-box;

}



textarea {

    height: 120px;

    resize: none;

    margin-bottom: 20px;

}


.button-commande {

    width: 100%;

    padding: 15px;

    background-color: #7b0f2f;

    color: white;

    border: none;

    border-radius: 12px;

    font-size: 18px;

    cursor: pointer;

    transition: 0.3s;

}

.button-commande:hover {

    background-color: #5e0b23;

}


/* SECTION PROFIL */

.profil-section {

    padding: 80px 20px;

    background-color: #f5f0df;

}

.profil-container {

    max-width: 1100px;

    margin: auto;

}

.profil-container h2 {

    text-align: center;

    color: #7b1436;

    margin-bottom: 40px;

    font-size: 40px;

}

.profil-card {

    background-color: white;

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

}

.profil-card p {

    margin-bottom: 20px;

    font-size: 18px;

}

.profil-btns {

    display: flex;

    gap: 20px;

    margin-top: 30px;

}

.btn-profil {

    padding: 15px 25px;

    border: none;

    border-radius: 10px;

    background-color: #7b1436;

    color: white;

    cursor: pointer;

    transition: 0.3s;

}

.btn-profil:hover {

    background-color: #5d0f29;

}


/* COMMANDES */

.commandes-section {

    padding: 80px 20px;

    background-color: #fff;

}

.titre-commandes {

    text-align: center;

    color: #7b1436;

    margin-bottom: 50px;

    font-size: 40px;

}

.commandes-container {

    display: flex;

    justify-content: center;

    gap: 30px;

    flex-wrap: wrap;

}

.commande-card {

    width: 320px;

    background-color: #f5f0df;

    padding: 30px;

    border-radius: 20px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.1);

    text-align: center;

}

.commande-card h3 {

    color: #7b1436;

    margin-bottom: 20px;

}

.commande-card p {

    margin-bottom: 15px;

}

.statut {

    font-weight: bold;

}

.btn-commande {

    margin-top: 20px;

    padding: 12px 20px;

    border: none;

    border-radius: 10px;

    background-color: #7b1436;

    color: white;

    cursor: pointer;

}